<!-- Main -->
<div id="main">
  <div class="inner">
    <h1>{{title}}</h1>
    <span class="image main"><img src="images/madrid_l.jpg" alt="" /></span>
    <p>The data of the datasets will be combined together
      with the other data (still to be added) in order to give a general
      overview upon the most prominent urban areas in Spain,
      a catalogue will be obtained in the form of a "enciclopedia"
      that will be presented to the user of the application in the webpage.</p>
    <p>The user shall be able to view the most important cities in the main page
      of the application, more detailed informations about a city will be displayed
      when an user will select the said city.</p>
    <p>It will be not possible to show all the cities of Spain in one single web page,
      an item will be presented to the user to charge more cities in the page together
      with the possibility to search for a specific city.</p>

  </div>
</div>