<!-- Main -->
<div id="main">
  <div class="inner">
    <h1>{{title}}</h1>
    <span class="image main"><img src="images/retiro_l.jpg" alt="" /></span>

    <p>Follows a list of datasets used to buil this application</p>
    <h3>Datasets</h3>
    <div class="table-wrapper">
      <table class="alt">
        <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Publisher</th>
            <th>License</th>
            <th>Linkable entities</th>
            <th>DB:Linked entities</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DB1</td>
            <td>
              <a href="http://datos.gob.es/ca/catalogo/ea0010587-poblacion-residente-por-fecha-sexo-y-edad-semestral-provincias-cifras-de-poblacion" target="_blank">
                Población residente</a>
              <br />
              <i>Resident Population</i>
            </td>
            <td>Instituto Nacional de Estadística</td>
            <td><a href="http://www.ine.es/aviso_legal" target="_blank">Open License</a></td>
            <td>Province code
              <br />
              Province name</td>
            <td>
              DB2:Province code
              <br />
              DB2:Province name
			  <br />
			  DB3:Province name<br />
            </td>
			
          </tr>
          <tr>
            <td>DB2</td>
            <td>
              <a href="http://www.hacienda.gob.es/es-ES/CDI/Paginas/SistemasFinanciacionDeuda/InformacionEELLs/DeudaViva.aspx" target="_blank">
                Deuda viva de las entidades<br>locales 2017</a>
              <br />
              <i>Active public debt of local entities</i>
            </td>
            <td>Banco de España <br />Ministerio de Hacienda</td>
            <td><a href="http://www.hacienda.gob.es/es-ES/GobiernoAbierto/Datos%20Abiertos/Paginas/Datosabiertos.aspx" target="_blank">Open License</a><br />with limitations</td>
            <td>Autonomous community code<br />
              Autonomous community name<br />
              Province code<br />
              Province name<br />
              Town code<br />
              Town name<br />
            </td>
            <td>
              DB1:Province code<br />
              DB1:Province name<br />
			  DB3:Province name<br />
            </td>
          </tr>
		   <tr>
            <td>DB3</td>
            <td>
              <a href="http://www.interior.gob.es/documents/10180/5791067/informe+balance+2016_ENE_DIC.xls/2e32a610-0a52-45a7-8f51-f045e68a6116" target="_blank">
                Balance de la Criminalidad 2016</a>
              <br />
              <i>Criminal situation in Spain</i>
            </td>
            <td>Ministerio del Interior</td>
            <td><a href="http://www.interior.gob.es/web/interior/aviso-legal" target="_blank">Open License</a></td>
            <td>Zone (province or region)<br />
              Crime typology<br />
              2015<br />
			  2016<br />
			  Variation between years<br />
            </td>
            <td>
              DB1:Province name<br />
              DB2:Province name<br />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>