<!-- Main -->
<div id="main">
  <div class="inner">
    <h1>{{title}} - ID: {{prov_id}}</h1>
    <h2>Provincial capital: {{capital}}</h2>
    <div class="row">
      <div class="col-4 col-12-medium">
        <span class="image fit"><img src="https://www.linguista.ch/fileadmin/user_upload/images/Sprachen/Spanisch/Spanien/Madrid/Don_Quijote_Madrid/madrid_donquijote_04_24914348570_o.jpg" alt=""></span>
      </div>
      <div class="col-8 col-12-medium">
        <p>Madrid (/məˈdrɪd/, Spanish: [maˈðɾið], locally: [maˈðɾiθ, -ˈðɾi]) is the capital of Spain, and the largest municipality of the Community of Madrid. The population of the city is almost 3.2 million with a metropolitan area population of
          approximately 6.5 million. It is the third-largest city in the European Union, after London and Berlin, and its metropolitan area is the third-largest in the European Union after London and Paris. Located in south-western Europe, the city
          spans a total of 604.3 km2 (233.3 sq mi). The city is located on the Manzanares in the centre of both the country and the Community of Madrid (which comprises the city of Madrid, its conurbation and extended suburbs and villages); this
          community is bordered by the autonomous communities of Castile and León and Castile-La Mancha. As the capital city of Spain, seat of government, and residence of the Spanish monarch, Madrid is also the political, economic and cultural
          centre
          of Spain.</p>
      </div>
    </div>
    <div class="row">
      <h3>Population Info</h3>
      <div class="table-wrapper">
        <table class="alt">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Item One</td>
              <td>Ante turpis integer aliquet porttitor.</td>
              <td>29.99</td>
            </tr>
            <tr>
              <td>Item Two</td>
              <td>Vis ac commodo adipiscing arcu aliquet.</td>
              <td>19.99</td>
            </tr>
            <tr>
              <td>Item Three</td>
              <td> Morbi faucibus arcu accumsan lorem.</td>
              <td>29.99</td>
            </tr>
            <tr>
              <td>Item Four</td>
              <td>Vitae integer tempus condimentum.</td>
              <td>19.99</td>
            </tr>
            <tr>
              <td>Item Five</td>
              <td>Ante turpis integer aliquet porttitor.</td>
              <td>29.99</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td>100.00</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  </div>
</div>